@font-face {
    font-family: coffee;
    src: url("../font/IRANYekanWeb.eot");
    src: url("../font/IRANYekanWeb.woff");
    src: url("../font/IRANYekanWeb.woff2");
    src: url("../font/IRANYekanWeb.ttf");
  }